<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConvertX</title>
  <link rel="stylesheet" href="../static/css/roughnav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

  <!-- <li>*************************************************NAVBAR*********************************************************************</li> -->
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="#">Converte<span class="logx">X</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">

      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <!-- <li><a href="#">Home</a></li> -->
        <!-- <li><a href="#">About</a></li> -->
        <!-- <li>
          <a href="#" class="desktop-item">Dropdown Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#">Drop menu 1</a></li>
            <li><a href="#">Drop menu 2</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">Drop menu 4</a></li>
          </ul>
        </li> -->
        <li>
          <a href="#" class="desktop-item tools">Tools</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Tools</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="../static/images/banner-pdf-pic-2.webp" alt="">
              </div>
              <div class="row">
                <header>File Conversion</header>
                <ul class="mega-links">
                  <li><a href="#">WORD to PDF</a></li>
                  <li><a href="#">PDF to WORD</a></li>
                  <li><a href="#">JPG to PNG</a></li>
                  <li><a href="#">PNG to JPG</a></li>
                  <li><a href="#">JPG to PDF</a></li>
                  <li><a href="#">EXCEl to PDF</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <!-- <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </li>

        <li><a class="logsign" href="/sign-up-in">Sign up / login</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  // ********************************************************NAVBAR END**********************************************************************
  <!-- <div class="HOME"> -->
  <!-- <img class="bkgimage" src="images/banner-pdf-pic-2.webp" alt=""> -->

  <!-- </div> -->
  <section class="upload">
    <img class="imager" src="../static/images/Background-removebg-preview.png">
    <img class="image" src="../static/images/Background-removebg-preview.png">
    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <!-- <header>Drag & Drop to Upload File</header>
      <span>OR</span> -->
      <a href="/png-jpg/converter">
        <button>Browse File</button>
      </a>
    </div>
  </section>
  <!-- footer section  -->

  <section class="footer">

    <div class="box-container">



      <div class="box">
        <h3>Quick Links</h3>
        <a href="#service" style="text-decoration: none;">Home</a>
        <a href="#service" style="text-decoration: none;">Services</a>
        <a href="signup.html" style="text-decoration: none;">SignUp</a>
      </div>
      <div class="box">
        <h3>Follow Us</h3>
        <div class="wrapper">
          <div class="icon facebook">
            <div class="tooltip">
              Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
          </div>
          <!-- <div class="icon twitter">
            <div class="tooltip">
               Twitter
            </div>
            <span><i class="fab fa-twitter"></i></span>
         </div> -->
          <div class="icon instagram">
            <div class="tooltip">
              Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
          </div>
          <div class="icon github">
            <div class="tooltip">
              Github
            </div>
            <span><i class="fab fa-github"></i></span>
          </div>
          <!-- <div class="icon youtube">
            <div class="tooltip">
               YouTube
            </div>
            <span><i class="fab fa-youtube"></i></span>
         </div> -->
        </div>

      </div>

    </div>


  </section>



  <script src="../static/JS/roughscript.js"></script>

</body>

</html>
