<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConvertX</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
</head>

<body>

  <!-- <li>*************************************************NAVBAR*********************************************************************</li> -->
  <nav>
    <div class="wrapper">
      <div class="logo "><a class="navtext" href="#">Converte<span class="logx">X</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">

      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>

        <li>
          <a href="#" class="desktop-item tools navtext">Tools</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Tools</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="../static/images/banner-pdf-pic-2.webp" alt="">
              </div>
              <div class="row">
                <header>File Conversion</header>
                <ul class="mega-links">
                  <li><a href="#">WORD to PDF</a></li>
                  <li><a href="#">PDF to WORD</a></li>
                  <li><a href="#">JPG to PNG</a></li>
                  <li><a href="#">PNG to JPG</a></li>
                  <li><a href="#">JPG to PDF</a></li>
                  <li><a href="#">EXCEL to PDF</a></li>
                  
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <!-- <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </li>

        <li><a class="logsign navtext" href="/sign-up-in">Sign <span class="white">up</span> / Login</a></li>
      </ul>
      <label for="menu-btn navtext" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>


  <section id="service">
    <img class="imager" src="../static/images/Background-removebg-preview.png">

    <img class="image" src="../static/images/Background-removebg-preview.png">

    <!------ Include the above in your HEAD tag ---------->

    <div class="container options">
      <!-- <h1 class="heading">
      <span>SERVICES</span>
    </h1> -->
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <a href="/word-pdf">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner">
                <div class="ptw">
                  <img src="https://getlua.com/assets/assets/images/ConvertWordToPDF.png" width="140px" alt="">
                  
                  
                  
                </div>
                <div class="our-services-text">
                  <h4 class="text">Word to PDF</h4>
                  <p></p>
                  
                </div>
              </div>
            </div>  
          </a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" href="">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" onclick="location.href='browse.html';">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>






        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
          <a href="/pdf-word">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner ">
                <div class=" ptw">
                
                  <img src="https://getlua.com/assets/assets/images/ConvertPDFToWord.png" width="140px" alt="">
    
                </div>
                <div class="our-services-text">
                  <h4 class="text">pdf to word </h4>
                  <p></p>

                </div>
              </div>
            </div>
          </a>
        </div>



        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <a  href="/jpg-png">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner">
                <div class="our-services-img">
                  <img class="resize" src="https://cdn.iconscout.com/icon/free/png-256/image-resize-1575087-1331422.png"
                    width="60px" alt="">
                  <!-- <i class="icons fas fa-file-image fa-3x"></i> -->
                  <i class="icons fas fa-arrow-right fa-1x"></i>
                  <img class="resize"
                    src="https://pcdn.piiojs.com/i/yhsbn9/https%3A%2F%2Fresizeimages.com%2Fimg%2FStepONE.svg" width="60px"
                    alt="">
                  <!-- <i class="icons far fa-file-image fa-3x"></i> -->
  
                </div>
                <div class="our-services-text">
                  <h4 class="text">JPG to PNG</h4>
                  <p></p>
  
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" onclick="location.href='browse.html';">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" onclick="location.href='browse.html';">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>


        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <a href="/png-jpg">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner">
                <div class="our-services-img">
  
                  
                  <img class="resize"
                    src="https://pcdn.piiojs.com/i/yhsbn9/https%3A%2F%2Fresizeimages.com%2Fimg%2FStepONE.svg" width="60px"
                    alt="">
                  <i class="icons fas fa-arrow-right fa-1x"></i>
                  <img class="resize" src="https://cdn.iconscout.com/icon/free/png-256/image-resize-1575087-1331422.png"
                    width="60px" alt="">
                  
                </div>
                <div class="our-services-text">
                  <h4 class="text">PNG to JPG </h4>
                  <p></p>
                </div>
  
              </div>
            </div>
          </a>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <a href="/jpg-pdf">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner">
                <div class="our-services-img">
  
                  <img class="resize" src="https://cdn.iconscout.com/icon/free/png-256/image-resize-1575087-1331422.png"
                    width="60px" alt="">
                  <i class="icons fas fa-arrow-right fa-1x"></i>
                  <img class="resize"
                    src="https://icons-for-free.com/iconfiles/png/512/eps+file+format+pdf+icon-1320167140815183040.png"
                    width="60px" alt="">
  
                </div>
                <div class="our-services-text">
                  <h4 class="text">JPG to PDF </h4>
                  <p></p>
                </div>
  
              </div>
            </div>
          </a>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" onclick="location.href='browse.html';">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" onclick="location.href='browse.html';">
          <div class="our-services-wrapper mb-60">
            <div class="">

            </div>
          </div>


        </div>


        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <a href="/excel-pdf">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner">
                <div class="our-services-img">
  
                  <!-- <i class="icons fas fa-file-image fa-3x"></i> -->
                  <img class="resize" src="https://icons-for-free.com/iconfiles/png/512/excel+file+spreadsheet+table+xls+xls+icon+icon-1320167722079480642.png"
                    width="60px" alt="">
                  <i class="icons fas fa-arrow-right fa-1x"></i>
                  <img class="resize"
                    src="https://icons-for-free.com/iconfiles/png/512/eps+file+format+pdf+icon-1320167140815183040.png"
                    width="60px" alt="">
  
                </div>
                <div class="our-services-text">
                  <h4 class="text">EXCEL to PDF </h4>
                  <p></p>
                </div>
  
              </div>
            </div>
          </a>
        </div>


      </div>
    </div>
  </section>

  <!-- footer section  -->

  <section class="footer">

    <div class="box-container">



      <div class="box">
        <h3>Quick Links</h3>
        <a href="#service" style="text-decoration: none;">Home</a>
        <a href="#service" style="text-decoration: none;">Services</a>
        <a href="signup.html" style="text-decoration: none;">SignUp</a>
      </div>
      <div class="box">
        <h3>Follow Us</h3>
        <div class="wrapper">
          <div class="icon facebook">
            <div class="tooltip">
              Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
          </div>
          <div class="icon instagram">
            <div class="tooltip">
              Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
          </div>
          <div class="icon github">
            <div class="tooltip">
              Github
            </div>
            <span><i class="fab fa-github"></i></span>
          </div>
         
        </div>

      </div>

    </div>


  </section>

  <!-- <script src="home.js">

  </script> -->

</body>

</html>